@tailwind base;
@tailwind components;
@tailwind utilities;

.tasks_container {
  @apply pl-6 pr-6 border-r-1 border-black border-opacity-20 min-w-2 max-w-2;
}

.task {
  @apply mt-4 mb-8 p-2 border-1 border-gray-200 shadow-md rounded-md cursor-pointer hover:shadow-xl duration-200 w-full break-words;
}

.add_task {
  @apply mt-4 p-2 border-1 border-gray-200 shadow-md rounded-md cursor-pointer hover:shadow-xl;
}

.expand_btn {
  @apply duration-200;
}

.hidden_content {
  @apply rotate-180;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
  border-top-color: purple;
}

/* Scrollbar Styles */
.scrollable-container::-webkit-scrollbar {
  width: 4px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollable-container::-webkit-scrollbar-button {
  background-color: #aaa;
  display: none;
}

.scrollable-container::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* Adjust scrollbar height */
.scrollable-container::-webkit-scrollbar {
  height: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  height: 8px;
}

/* react-suite date range picker */
.rs-anim-fade.rs-anim-in {
  z-index: 40;
}

.rs-btn-primary {
  background-color: #673ab7 !important;
}

.rs-picker-toggle-value {
  color: #673ab7 !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  background-color: #673ab7 !important;
}

.rs-calendar-table-cell-content:hover {
  background-color: #673ab7 !important;
  color: #fff !important;
}

.rs-calendar-table-cell-in-range:before {
  background-color: #d1c4e9 !important;
}

.rs-picker-default:not(.rs-picker-disabled) .rs-btn-active,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover {
  border-color: #673ab7 !important;
}

.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover {
  border-color: #673ab7 !important;
}

.rs-picker-default .rs-btn,
.rs-picker-default .rs-picker-toggle,
.rs-picker-input .rs-btn,
.rs-picker-input .rs-picker-toggle {
  background-color: #ffffff !important;
}

a {
  text-decoration: none !important;
  font-weight: bold;
  color: #4a418c !important;
}

span {
  color: #282828;
}
